<h1> New Song Form </h1>

<%= render 'form' %>






<% if false %>
<%= form_for @song do |f| %>

    <%= f.label "Title:" %>
    <%= f.text_field :title %>

    <%= f.label "Artist Name:" %>
    <%= f.text_field :artist_name %>

    <%= f.label "Genre:" %>
    <%= f.text_field :genre %>

    <%= f.label "Release Year:" %>
    <%= f.text_field :release_year %>
    
    <%= f.check_box :released %>
    <%= f.label :released, "Released" %>

    <%= f.submit %>

<% end %>
<% end %>